@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    /* Firefox Fix */
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 100;
    height: 10vh;
    @media (min-width: 1200px) {
        height: 6vh;
    }
    a{
        color : white;
        text-decoration: none;
    }
    .nom{
        margin-top : 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            margin-left: 50px;
        }
        @media (min-width: 1200px) {
            margin-left:0px;
        }
        h1{
            color : white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            @media (min-width: 768px) {
                font-size: 2rem;
            }
            @media (min-width: 1200px) {
                font-size: 1.5rem;
                margin-left: 10vw;
            }
        }
    }
    .menu{
        display : none;
        @media (min-width: 1200px) {
            display : flex;
            align-items: center;
            justify-content: center;
            margin-right: 10vw;
            a{
                border-left: 1px solid rgb(69, 171, 189);
                position: relative;
                padding-left: 10px;
                padding-right: 10px;
                color : white;
                font-family: 'Montserrat', sans-serif;
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
                transition: 0.2s;
                &::before{
                    content : '';
                    height : 1px;
                    width: 0%;
                    background-color: rgb(69, 171, 189);
                    position: absolute;
                    bottom : -6px;
                    left : 0;
                    transition: 0.5s;
                }
                &::after{
                    content : '';
                    height : 1px;
                    width: 0%;
                    background-color: rgb(69, 171, 189);
                    position: absolute;
                    top : -6px;
                    right : 0;
                    transition: 0.5s;
                }
                &:first-child{
                    border : none;
                    padding-left: 0px;
                }
                &:last-child{
                    padding-right: 0px;
                }
                &:hover{
                    &::before{
                        width: 100%;
                    }
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 40px;
        width: 40px;
        right : 15px;
        border-radius: 50%;
        border: 2px solid white;
        margin-right: 20px;
        cursor: pointer;
        z-index: 100;
        @media (min-width: 768px) {
            height: 55px;
            width: 55px;
            margin-right: 50px;
        }
        @media (min-width: 1200px) {
            display : none;
        }
        &.active{
            .top-line{
                transform: rotate(45deg);
                top: 6px;
            }
            .middle{
                opacity: 0;
            }
            .bottom-line{
                transform: rotate(-45deg);
                top: -6px;
            }
            .nav-list{
                left: 0%;
            }
        }
        .line{
            height: 2px;
            width: 20px;
            background-color: white;
            position: relative;
            margin:1.5px;
            transition: .3s ease;
            z-index: 100;
            @media (min-width: 768px) {
                height: 3px;
            }
            @media (min-width: 1200px) {
                height: 1px;
                width: 12px;
            }
        }     
    }
    .nav-list{
        position: absolute;
        top : 0;
        left: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.966);
        color: white;
        z-index: 10;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 70px;
        transition: .3s ease;
        ul{
            list-style: none;
        }
        @media (min-width: 768px) {
            font-size: 2rem;
            line-height: 100px;
        }
        @media (min-width: 1200px) {
            left : 50%;
        }
    }
}


.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url(./img/work.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index : 90;
    @media (min-width: 768px) {
        background-size: cover;
        background-position: top ;
    }
    @media (min-width: 1200px) {
        background-size: cover;
        background-image: url(./img/work_flou.jpg);
        background-position: right 15% bottom 68%;
    }
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(23, 8, 27, 0.568);
        z-index: -1;
        @media (min-width: 1200px) {
            background-color: rgba(23, 8, 27, 0.541);
        }
    }
    .section-title{
        text-align: center;
        width:70vw;
        margin-top: 35vh;
        line-height: 1.8rem;
        @media (min-width: 1200px) {
            margin-right: 35vw;
        }
        h1{
            color : white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.8rem;
            font-weight: 400;
            @media (min-width: 768px) {
                font-size: 3em;
                font-weight: 400;
            
            }
            @media (min-width: 1200px) {
                font-size: 3.5em;
                font-weight: 400;
            }
            &.slide{
                animation: slide_up 0.5s ease-in-out;
            }
        }
        span{
            font-size: 1.8rem;
            font-weight: 500;
            color : #45abbd;
            @media (min-width: 768px) {
                font-size: 1em;
                font-weight: 500;
            }
            @media (min-width: 1200px) {
                font-size: 1em;
                font-weight: 400;
            }
        }
        .st{
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin-top: 1vh;
            @media (min-width: 768px) {
                font-size: 0.5em;
            }
            @media (min-width: 1200px) {
                font-size: 0.6em;
                font-weight: 200;
                margin-top: 3vh;
            }
        }
        .cv{
            color : #45abbd;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            margin-top: 5vh;
            z-index : 500;
            a{
                color : #45abbd;
                cursor: pointer;
                text-decoration: none;
                
            }
            &:hover{
                text-decoration: underline;
            }
            @media (min-width: 768px) {
                font-size: 1.5rem;
            }
            
        }

    }
    .arrow{
        height: 70px;
        width: 70px;
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid rgb(69, 171, 189);
        border-radius: 50%;
        position: relative;
        animation: UpandDown 1.5s ease-in infinite;
        z-index: 10;
        @media (min-width: 768px) {
            height: 100px;
            width: 100px;
        }
        @media (min-width: 1200px) {
            margin-top: 25vh;
            height: 85px;
            width: 85px;
        }
        img{
            height: 45px;
            width: 45px;
            margin: 10px;
            position: relative;
            animation: UpandDown 1.5s ease-out infinite;
            @media (min-width: 768px) {
                height: 75px;
                width: 75px;
            }
            @media (min-width: 1200px) {
                height: 60px;
                width: 60px;
            }
        }
    }
    .gradient{
        height : 25vh;
        width : 100vw;
        position: absolute;
        bottom: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(7,1,15,1) 100%);
    }
}


.about{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height : auto;
    width: 100%;
    padding-top: 5vh;
    background: rgb(7, 1, 15);
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: center;
    }
    .pdp{
        height: 50vw;
        width: 50vw;
        margin-bottom: 50px;
        border: 4px solid rgb(65,172,189);
        border-radius: 50%;
        box-shadow: 0px 0px 50px rgb(65,172, 189);
        margin-top: 50px;
        animation: glowing 3s ease-in-out infinite;
        z-index : 2;
        @media (min-width: 768px) {
            height: 350px;
            width: 350px;
            border: 7px solid rgb(65,172,189);
        }
        @media (min-width: 1200px) {
            height: 300px;
            width: 300px;
            border: 7px solid rgb(65,172,189);
        }

    }
    .presentation-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 1200px) {
            max-width: 50vw;
            margin-left: 5vw;
        }
        .section-title{
            width: 80%;
            color : white;
            font-family: 'Montserrat', sans-serif;
            h1{
                font-size: 1.7rem;
                font-weight: 500;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                &.slide{
                    animation: slide_up 0.5s ease-in-out;
                }
                span{
                    color : rgb(69, 171, 189);
                    font-weight: 400;
                    @media (min-width: 768px) {
                        font-size: 2.5rem;
                        font-weight: 500;
                    }
                }
            }
        }
        .présentation{
            width : 85%;
            color : white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 200;
            margin-bottom: 5vh;
            @media (min-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }
    
}


.timeline_section{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgb(7, 1, 15);
    width: 100%;
    padding-top: 5vh;
    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
    }
    .section-title{
        width: 80%;
        color : white;
        font-family: 'Montserrat', sans-serif;
        padding-top: 5vh;
        padding-bottom: 1vh;
        h1{
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                font-size: 2.5rem;
            }
            &.slide{
                animation: slide_up 0.5s ease-in-out;
            }
            span{
                color : rgb(69, 171, 189);
                font-weight: 400;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
        }
    }

    #timeline{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    
    .timeline{
        display : flex;
        align-items: center;
        justify-content: center;
        height : auto;
        width: 100%;
        background: rgb(7, 1, 15);
        color : white;
        @media (min-width: 1200px) {
            width: 40vw;
        }
        .cartes{
            .carte{
                opacity: 0;
                transition: 0.8s;
                margin-bottom: 2vh;
                transform : rotateZ(-10deg);
                &.display{
                    opacity: 1;
                    transform : rotateZ(0deg);
                }
                &.light{
                    box-shadow: 0 0 20px rgb(152, 224, 236);
                }
            }
        }
        ol{
            max-height: auto;
            max-width: 90vw;
            border-left: 4px solid white;
            padding: 30px;
            margin-left: 20px;
            @media (min-width: 768px) {
                border-left: 6px solid white;
            }
            ul{
                list-style: none;
                text-align: left;
                margin-top: 5vh;
                background-color: rgba(69, 171, 189, 0.205);
                padding : 10px;
                border-radius: 5px;
                max-width: 70vw;
                &:nth-child(1){
                    margin-top: 0;
                }
                .poste{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 1rem;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    @media (min-width: 768px) {
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                }
                .lieu{
                    color : rgb(134, 218, 233);
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 0.85rem;
                    font-style: italic;
                    margin-bottom: 10px;
                    position: relative;
                    @media (min-width: 768px) {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                    &:before{
                        content : '';
                        position : absolute;
                        top : -2px;
                        left : -54px;
                        height : 15px;
                        width : 15px;
                        background-color: rgb(69, 171, 189);
                        border-radius: 50%;
                        border: 4px solid white;
                        @media (min-width: 768px) {
                            height : 20px;
                            width : 20px;
                            left : -56px;
                        }

                    }
                }
                .missions{
                    margin-left : 20px;
                    margin-top: 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 0.85rem;
                    padding : 0;
                    background-color: rgba(69, 171, 189, 0);
                    @media (min-width: 768px) {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                }            
            }
        }

    }
}

.jauges_section{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    background: rgb(7, 1, 15);
    padding-top: 15vh;
    .jauges{
        @media (min-width: 1200px) {
            display : flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
        .jauges-audiovisuel{
            @media (min-width: 1200px) {
                margin-left: 5vw; 
            }
        }
    }
    .section-title{
        width: 80%;
        color : white;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 3vh;
        h1{
            font-size: 1.9rem;
            font-weight: 500;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                font-size: 2.5rem;
                font-weight: 500;
            }
            &.slide{
                animation: slide_up 0.5s ease-in-out;
            }
            span{
                color : #45abbd;
                font-weight: 400;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
        }
    }
    .jauge{
        display : flex;
        align-items: center;
        justify-content: space-between;
        width: 75vw;
        @media (min-width: 768px) {
            width: 65vw;
        }
        @media (min-width: 1200px) {
            width: 35vw;
            justify-content: center;
        }
        &#html{
            .contenant{
                background-color: #e7a52b85;
            }
            .contenu{
                width: 95%;
                background-color: #E7A42B;
            }
        }
        &#css{
            .contenant{
                background-color: #0278bd7a;
            }
            .contenu{
                width: 92%;
                background-color: #0277BD;
            }
        }
        &#sass{
            .contenant{
                background-color: #e15c8885;
            }
            .contenu{
                width: 90%;
                background-color: #E15C88;
            }
        }
        &#javascript{
            .contenant{
                background-color: #ffd5008a;
            }
            .contenu{
                width: 85%;
                background-color: #FFD600;
            }
        }
        &#php{
            .contenant{
                background-color: #99c4b88a;
            }
            .contenu{
                width: 85%;
                background-color: #99C4B8;
            }
        }
        &#sql{
            .contenant{
                background-color: #dcd5f285;
            }
            .contenu{
                width: 85%;
                background-color: #DCD5F2;
            }
        }
        &#wordpress{
            margin-bottom: 5vh;
            .contenant{
                background-color: #01589b81;
            }
            .contenu{
                width: 88%;
                background-color: #01579b;
            }
        }
        &#photoshop{
            .contenant{
                background-color: #03a8f47c;
            }
            .contenu{
                width: 87%;
                background-color: #03A9F4;
            }
        }
        &#illustrator{
            .contenant{
                background-color: #f0502088;
            }
            .contenu{
                width: 95%;
                background-color: #F05120;
            }
        }
        &#premiere{
            .contenant{
                background-color: #df40fb86;
            }
            .contenu{
                width: 92%;
                background-color: #E040FB;
            }
        }
        &#after{
            .contenant{
                background-color: #aa82f57e;
            }
            .contenu{
                width: 85%;
                background-color: #AB82F5;
            }
        }
        &#fcp{
            .contenant{
                background-color: #8bff957e;
            }
            .contenu{
                width: 75%;
                background-color: #36f7467e;
            }
        }
        &#dvr{
            .contenant{
                background-color: #fff8907e;
            }
            .contenu{
                width: 70%;
                background-color: #fffb0fda;
            }
        }
        .logo{
            color : white;
            img{
                height : 60px;
                width : 60px;
                @media (min-width: 768px) {
                    height : 80px;
                    width : 80px;
                } 
            }
        }
        .contenant{
            height : 2vh;
            background-color: rgb(0, 153, 0);
            width: 70%;
            border-radius: 10px;
            overflow: hidden;
            margin-left: 5vw;
            @media (min-width: 1200px) {
                margin-left: 2vw;
            }
            .contenu{
                height: 100%;
                display : flex;
                align-items: center;
                justify-content: space-between;
                transform: scaleX(0); 
                transform-origin: right;
                transition: transform 0.75s ease-in-out;
                &.slide{
                    transform: scale(1);
                    transform-origin: left;
                }
       
            }
        }
    }
}

.projets_section{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    height: auto;
    background: rgb(7, 1, 15);
    color : white;
    width: 100%;
    padding-top: 13vh;
    .section-title{
        width: 80%;
        color : white;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 3vh;
        h1{
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                font-size: 2.5rem;
                font-weight: 500;
            }
            &.slide{
                animation: slide_up 0.5s ease-in-out;
            }
            span{
                color : rgb(69, 171, 189);
                font-weight: 400;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
        }
    }
    .projets{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 95vw;
        @media (min-width: 768px) {
            width: 95vw;
        }
        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            width : 52vw;
        }
    }
    .projet{
        display: flex;
        align-items: center;
        justify-content: center;
        height : 35vh;
        max-height: 250px;
        width : 90%;
        max-width: 400px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 5vh;
        @media (min-width: 768px) {
            width : 95vw;
            max-width: 600px;
            max-height: 400px;
        }
        @media (min-width: 1200px) {
            width : 25vw;
            margin-bottom: 1vw;
        }
        .blur_background{
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: top center;
            filter: blur(1.2px);
            position: relative;
            transition: 0.5s;
            &::after{
                content : '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(233, 226, 161, 0.212);
            }
            &#elais{
                background-image: url("img/elais_couture/image_2.PNG");
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#jdp{
                background-image: url("img/jdp/image_2.PNG");
                background-size: cover;
                background-position: top center;
                filter: blur(0.8px);
                &.zoom{
                    transform: scale(1.05);
                }
                &::after{
                    content : '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(233, 161, 161, 0.082);
                }
            }
            &#chemins{
                background-image: url("img/Chemins de vie/chemins.jpg");
                background-size: cover;
                background-position: top center;
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#natur_adapt{
                background-image: url("img/Natur Adapt/natur.png");
                background-size: cover;
                background-position: top center;
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#tvb{
                background-image: url("img/tvb/tvb.png");
                background-size: cover;
                background-position: top center;
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#quiz{
                background-image: url("img/quiz/quiz.PNG");
                background-size: cover;
                background-position: center;
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#todolist{
                background-image: url("img/Todolist/todo.PNG");
                background-size: cover;
                background-position: center;
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#voeux{
                background-image: url("img/voeux/voeux.PNG");
                background-size: cover;
                background-position: center;
                &.zoom{
                    transform: scale(1.05);
                }
            }
            &#passerelles{
                background-image: url("img/passerelles/Passerelles.PNG");
                background-size: cover;
                background-position: center;
                &.zoom{
                    transform: scale(1.05);
                }
            }

        }
        .description{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.74);
            height: 70%;
            width: 80%;
            padding : 10px;
            text-align: center;
            border-radius: 5px;
            .titre{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                text-transform: uppercase;
                @media (min-width: 768px) {
                    font-size: 2rem;
                    font-weight: 500;
                }
                @media (min-width: 1200px) {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

            }
            .résumé{
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8rem;
                font-weight: 300;
                line-height: 1rem;
                text-transform: uppercase;
                @media (min-width: 768px) {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }
                @media (min-width: 1200px) {
                    font-size: 0.9rem;
                    font-weight: 300;
                    line-height: 1.2rem;
                }
            }.lien{
                font-family: 'Montserrat', sans-serif;
                font-size: 0.75rem;
                font-weight: 600;
                line-height: 1rem;
                text-transform: uppercase;
                color : rgb(69, 171, 189);
                cursor: pointer;
                @media (min-width: 768px) {
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }
                @media (min-width: 1200px) {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
}

.lightbox{
    display: none;
    &.active{
        position : fixed;
        display : inline-block;
        top : 0;
        bottom: 0;
        left : 0;
        width: 100vw;
        height: 100vh;
        background: rgb(7, 1, 15);
        overflow-y: scroll;
        z-index : 90;
        .lightbox_content{
            display : flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            top : 10vh;
            .exit{
                position: fixed;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                text-transform: uppercase;
                top : 12vh;
                right : 5vw;
                height : 40px;
                width : 40px;
                color : white;
                background-color: rgba(54, 76, 80, 0.986);
                font-size: 2rem;
                text-align: center;
                vertical-align: middle;
                @media (min-width: 768px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height : 75px;
                    width : 75px;
                    font-size: 3rem;
                }
            }
            .titre_lightbox{
                margin-top: 22vh;
                margin-bottom: 5vh;
                color : white;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.9rem;
                font-weight: 500;
                text-transform: uppercase;
                padding : 2px 10px;
                text-align: center;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                    font-weight: 500;
                    width : 75vw;
                    margin-top: 15vh;
                }
                @media (min-width: 1200px) {
                    font-size: 3rem;
                    font-weight: 500;
                }
            }
            .images{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                overflow: hidden;
                @media (min-width: 1200px) {
                    width : 70vw;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                img{
                    border-radius: 10px;
                    width : 90vw;
                    height : 30vh;
                    margin-bottom : 1vh;
                    max-height: 250px;
                    @media (min-width: 768px) {
                        width : 75vw;
                        max-width: 600px;
                        height : 25vh;
                        max-height: 350px;
                    }
                    @media (min-width: 1200px) {
                        width : 30vw;
                        height: 20vw;
                    }
                }
            }

            .description{
                width : 80vw;
                color : white;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8rem;
                font-weight: 400;
                text-align: center;
                margin-top: 2vh;
                margin-bottom: 5vh;
                @media (min-width: 768px) {
                    font-size: 1.3rem;
                    font-weight: 200;
                    width : 70vw;
                }
                @media (min-width: 1200px) {
                    font-size: 1.3rem;
                    width: 50vw ;
                }
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 2vh;
                    margin-top: 2vh;
                    @media (min-width: 768px) {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                    @media (min-width: 1200px) {
                        font-size: 2.5rem;
                        font-weight: 500;
                    }
                }
                span{
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 400;
                    line-height: 1rem;
                    @media (min-width: 768px) {
                        font-size: 1.3rem;
                        font-weight: 200;
                    }

                }
            }
            .lien{
                color : white;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8rem;
                font-weight: 400;
                margin-bottom: 5vh;
                text-transform: uppercase;
                text-align: center;
                width: 75%;
                @media (min-width: 768px) {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }
                @media (min-width: 1200px) {
                    width: 50vw ;
                }
                a{
                    color : rgb(65,172,189);
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 0.7rem;
                    @media (min-width: 768px) {
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                    }

                }
                
            }

        }
    }
    &#site3_lightbox{
        img{
            height : 65vh;
            max-height : 600px;
            @media (min-width: 768px) {
                width : 60vw;
                max-width: 500px;
            }
        }
    }
    &#site6_lightbox{
        a{
            color : rgb(69, 171, 189);
            text-decoration: underline;
        }
    }
    &#site7_lightbox{
        img{
            height : 280px;
            max-height : 600px;
        }
    }
}

.contacts{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height : auto;
    width: 100%;
    background: rgb(7, 1, 15);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-bottom: 7vh;
    .section-title{
        width: 80%;
        color : white;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 3vh;
        margin-top: 10vh;
        h1{
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                font-size: 2.5rem;
                font-weight: 500;
            }
            &.slide{
                animation: slide_up 0.5s ease-in-out;
            }
            span{
                color : #46acbe;
                font-weight: 400;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
        }
    }
    .coordonnées{
        display : flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .email{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color : white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            margin-bottom: 5vh;
            @media (min-width: 768px) {
                font-size: 1.5rem;
                img{
                    height : 200px;
                    width : 200px;
                }
            }
            @media (min-width: 1200px) {
                flex-direction: row;
                .texte{
                    margin-left: 2vw;
                }
            }
        }
    }
    .logos{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height : 150px;
            width : 150px;
        }
        @media (min-width: 768px) {
            img{
                height : 200px;
                width : 200px;
            }
        }
    }

}

.Goup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(7, 1, 15);
    padding-bottom: 5vh;
    color : white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
    .cv{
        color : #45abbd;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        z-index : 500;
        margin-bottom: 10vh;
        z-index: 5;
        a{
            color : #45abbd;
            cursor: pointer;
            text-decoration: none;
            
        }
        &:hover{
            text-decoration: underline;
        }
        
    }
    svg{
        height : 70px;
        width: 70px;
        margin-bottom: 2vh;
    }
}


footer{
    background: rgb(7, 1, 15);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding-bottom: 2vh;
    color: white;
    @media (min-width: 768px) {
        font-size: 1.1rem;
    }
    @media (min-width: 1200px) {
        font-size: 1.2rem;
    }
}




@keyframes UpandDown{
    0%{
        bottom: 0;
    }
    30% {
    bottom: -8px;
    }
    60%{
        bottom: 0px;
    }
}

@keyframes glowing{
    0%{
        box-shadow: 0px 0px 60px rgb(65,172,189);
    }
    50% {
        box-shadow: 0px 0px 150px rgb(65,172,189);
    }
    100%{
        box-shadow: 0px 0px 60px rgb(65,172,189);
    }
}

@keyframes slide_up{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 100;
        transform: translateY(0px);
    }
}